# ------------------------------------------------------------
# Tokopedia Scraper
# ------------------------------------------------------------
SCRAPER_PORT=8000
SCRAPER_VNC_PORT=6080
SCRAPER_MONGODB_URI=
SCRAPER_SHM_SIZE=2gb

# ------------------------------------------------------------
# Shop API
# ------------------------------------------------------------
API_PORT=8080
API_GIN_MODE=release
API_MONGODB_URI=
API_MONGODB_NAME=
API_RATE_LIMIT_PER_MINUTE=100
API_APP_ENV=development
API_ALLOWED_ORIGINS=http://localhost:3000
API_COOKIE_DOMAIN=localhost
API_JWT_SECRET=
API_MONGODB_TEST_URI=mongodb://localhost:27017/shop-test
API_MONGODB_TEST_NAME=shop-test
API_AWS_BUCKET_NAME=
API_AWS_BUCKET_REGION=
API_AWS_ACCESS_KEY=
API_AWS_SECRET_KEY=
API_ELASTICSEARCH_ENABLED=true
API_ELASTICSEARCH_URL=
API_ELASTICSEARCH_API_KEY=
API_ELASTICSEARCH_INDEX=products

# ------------------------------------------------------------
# Shop Frontend
# ------------------------------------------------------------
FRONTEND_PORT=3000
FRONTEND_NEXT_PUBLIC_APP_NAME=Scrap Store
FRONTEND_NEXT_IMAGES_HOSTNAME=
FRONTEND_NEXT_PUBLIC_SHOW_QUICK_LOGIN=true
FRONTEND_INTERNAL_API_URL=http://shop-api:8080
FRONTEND_NEXT_PUBLIC_SCRAPER_API_URL=http://localhost:8000
FRONTEND_NEXT_PUBLIC_VNC_HOST=localhost:6080
